@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

  body{
      @apply bg-sky-50
  }
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}
